<main class="main">
<div class="wrapper">
    <%= render partial: "side_bar" %>
  <div class="body">
  <div class="inner">
      <%# ログインしているときは以下を表示する %>
      <% if user_signed_in? %>
       <div class="greeting">
        <%= link_to "#{current_user.nickname} さんとしてログイン中です", "/users/#{current_user.id}", class: :greeting__link%>
      </div>
      <% end %>

      <%= form_with(url: search_animals_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :keyword, placeholder: "キーワードで検索", class: "search-input" %>
        <%= form.submit "検索", class: "search-btn" %>
      <% end %>
        <%# // ログインしているときは上記を表示する %>
      <div class="card__wrapper">
        <%# 部分テンプレートでプロトタイプ投稿一覧を表示する %>
       <%# @animals.each do |animal| %>
       <%= render partial: "animal", collection: @animals %>
       <%# end %>
      </div>
    </div>
  </div>
</main>