

<main class="main">
<div class="wrapper">
  <div class="side-bar">
  <div class="side-contents">
    <div class="side-content">
      <% if user_signed_in? %>
      <%= link_to "マイページ", "/users/#{current_user.id}", class: :new_animal %>
      <% else %>

      <%= link_to "マイページ", "/users/index", class: :new_animal %>
      <% end %>
    </div>
    <div class="side-content">
      <%= link_to "記事を投稿する", new_animal_path, class: :new_animal %>
    </div>
    <div class="side-content">
      <%= link_to "ユーザ一覧", users_path, class: :new_animal %>
    </div>
    <div class="side-content">
      <%= link_to "イベント一覧", calendars_path, class: :new_animal %>
    </div>
  </div>
</div>
  <div class="body">
  <div class="inner">
    <div class="animal__wrapper">
    <%= link_to '<<TOPへ戻る', root_path,  class: :top_btn %>
    
      <p class="animal__hedding">
        <%= @animal.name %>
      </p>
      <%= link_to "by #{@animal.user.nickname}", user_path(@animal.user), class: :animal__user %>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
      <% if user_signed_in? && current_user.id == @animal.user_id %>
        <div class="animal__manage">
          <%= link_to "編集する", edit_animal_path(@animal), class: :animal__btn %>
          <%= link_to "削除する", animal_path(@animal), method: :delete, class: :animal__btn %>
        </div>
      <% end %>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="animal_show">
      <div class="detail_left">
        <div class="animal__image">
          <%= image_tag @animal.image %>
        </div>
      </div>
      <div class="detail_right">
      <div class="animal__body">
        <div class="animal__detail">
          <p class="detail__title">種類</p>
          <p class="detail__message">
            <%= @animal.genre %>
          </p>
          <p class="detail__title">性別</p>
          <p class="detail__message">
            <%= @animal.gender %>
          </p>
          <p class="detail__title">お誕生日</p>
          <p class="detail__message">
            <%= @animal.birthday %>
          </p>
          <p class="detail__title">年齢</p>
          <p class="detail__message">
            <%= @animal.age %>
          </p>
          <p class="detail__title">お住まい</p>
          <p class="detail__message">
            <%= @animal.prefecture %>
          </p>
          <p class="detail__title">チャームポイント</p>
          <p class="detail__message">
            <%= @animal.charm_point %>
          </p>
        </div>
      </div>
    </div>
   </div>
      
      <%# コメント機能 %>
      <div class="animal__comments">
        <% if user_signed_in? %>
          <%= form_with(model: [@animal, @comment],local: true) do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_text" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
          <% @comments.each do |comment| %>
             <li class="comments_list"> 
               <%= comment.text %>
               <%= link_to "(#{comment.user.nickname})", user_path(comment.user), class: :comment_user %> 
             </li> 
          <% end %>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
    </div>
  </div>
</main>
